/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1300px;
}
.container {
  max-width: 1300px;
  padding: 0 32px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-j {
  justify-content: space-between;
}
header {
  width: 100%;
  background: linear-gradient(rgba(40, 40, 41, 0.6), rgba(40, 40, 41, 0.6));
  position: absolute;
  z-index: 4;
  padding: 16px 120px;
}
h1 {
  font-size: 32px;
  margin-left: 120px;
  font-weight: 700;
  padding: 10px;
  color: white;
}
.nav a {
  text-decoration: none;
  margin-left: 32px;
  /* padding: 10px; */
  color: white;
}
.nav {
  padding: 10px;
}
.btn {
  margin-right: 70px;
  background-color: #ed553a;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
}
.color {
  color: #ed553a;
}
.hero {
  width: 100%;
  height: 710px;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(rgba(40, 40, 41, 0.6), rgba(40, 40, 41, 0.6));
}
.hero h2 {
  margin-top: 300px;
  font-size: 15px;
  color: white;
}
.hero h3 {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  color: white;
}
.button {
  margin-right: 70px;
  background-color: #ed553a;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
}
.section-2 {
  text-align: center;
}
.section-2 h4 {
  margin-top: 150px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-2 img {
  margin-top: 20px;
}
.section-2 p {
  margin-top: 10px;
  color: gray;
  line-height: 1.5;
}
/*  */
.flex-wrap {
  flex-wrap: wrap;
}
.parent {
  margin-top: 50px;
  margin-left: 18%;
}
.child h2 {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
}
.child img {
  margin-top: 20px;
  font-size: 20px;
}
.flex-48 {
  flex: 0 1 48%;
}
.sub-child {
  margin-left: 20px;
}
.child p {
  color: gray;
  font-size: 10px;
  margin-bottom: 10px;
}
.child a {
  text-decoration: none;
  color: #ed553a;
  text-transform: uppercase;
  font-size: 10px;
}
/* section-3 */
.header {
  background-image: url(./assets/cta-bg.jpg);
  position: absolute;
  width: 100%;
  background: cover;
  height: 300px;
  margin-top: 150px;
}
.think {
  text-align: center;
  margin-top: 60px;
}
.think h2 {
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
}
.think p {
  font-size: 15px;
  color: white;
  line-height: 1.5;
  margin-top: 20px;
}
.bt {
  margin-top: 10px;
  margin-left: 40px;
}
.we {
  margin-top: 550px;
}
.boxes {
  height: 60px;
  width: 80%;
  box-shadow: 0px 0px 1px 4px rgba(187, 186, 186, 0.1);
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 50px;
}
.aside {
  width: 40%;
  margin-top: 70px;
  margin-left: 10%;
}
.article {
  width: 50%;
  margin-top: 70px;
}
.aside img {
  /* font-size: 30px; */
  width: 10%;
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
}
.aside h2 {
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 20px;
}
.a-btn {
  margin-left: 55px;
  height: 40px;
  width: 80%;
  margin-top: 40px;
}
.article img {
  height: 200px;
  width: 80%;
  margin-top: 20px;
}
.article h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.article p {
  font-size: 10px;
  color: grey;
  line-height: 1.5;
  margin-top: 20px;
}
.ar-bt {
  margin-top: 40px;
}
.table {
  background-image: url(./assets/schedule-bg.jpg);
  width: 1450px;
  height: 750px;
  margin-top: 90px;
  background: cover;
  position: absolute;
}
.schedule {
  text-align: center;
}
.schedule h3 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-top: 100px;
}
.schedule img {
  margin-top: 30px;
}
.schedule p {
  margin-top: 20px;
  color: white;
  font-size: 15px;
}

.table-nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin: 0 10px;
}
.table-nav {
  text-align: center;
  margin-top: 60px;
  /* margin: 0 10px; */
}
.table-nav .color {
  color: #ed553a;
}
.spn {
  margin-left: 10px;
}
table {
  border: 2px solid;
  font-size: 15px;
  color: white;
  width: 700px;
  border-spacing: 20px;
  margin-left: 390px;
  margin-top: 50px;
}
td,
th {
  border: 2px solid;
  padding: 16px;
}
.expert {
  margin-top: 1000px;
}
.second-last {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.boxer {
  height: 400px;
  width: 30%;
  margin-left: 50px;
  box-shadow: 0px 0px 1px 4px rgba(187, 186, 186, 0.1);
}

.boxer img {
  height: 200px;
  width: 80%;
  margin-top: 20px;
  margin-left: 35px;
}
.boxer h2 {
  font-size: 15px;
  color: #ed563a;
  margin-top: 10px;
  margin-left: 35px;
}
.boxer h3 {
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin-top: 10px;
  margin-left: 35px;
}
.boxer p {
  font-size: 12px;
  color: black;
  margin-top: 10px;
  margin-left: 35px;
  line-height: 1.5;
}
.logo {
  margin-top: 15px;
  margin-left: 35px;
}
.map {
  width: 100%;
  margin-top: 30px;
  position: relative;
}
.min {
  height: 360px;
  width: 90%;
  margin-top: 20px;
  margin-left: 25px;
  background-color: white;
  border: 2px solid white;
}
.last-box {
  background-image: url(./assets/contact-bg.jpg);
  padding: 20px;
  height: 440px;
  width: 50%;
  background-color: white;
  position: absolute;
  left: 750px;
  top: 5px;
}

.arrow {
  height: 20px;
  width: 20%;
  background-color: rgb(51, 49, 49);
}
.last-box button {
  background-color: #ed563a;
  height: 30px;
  width: 30%;
  border: 0;
  margin-top: 20px;
  margin-left: 15px;
  color: white;
}
.name {
  height: 40px;
  width: 45%;
  margin-left: 15px;
  border: 1px solid black;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 4px rgba(187, 186, 186, 0.1);
}
.sub {
  height: 40px;
  width: 95%;
  margin-left: 10px;
  border: 1px solid black;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 4px rgba(187, 186, 186, 0.1);
}
.message {
  height: 150px;
  border: 1px solid black;
  width: 95%;
  margin-left: 10px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 1px 4px rgba(187, 186, 186, 0.1);
}
footer {
  text-align: center;
  color: black;
  padding: 20px 0;
}
